<a href="https://colab.research.google.com/github/Deeps-githubacc/python-exercises-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Basics

In [ ]:
print("Hello world! welcome to python exercise repo")

Hello world! welcome to python exercise repo

***To check python version***

In [ ]:
import sys
print(sys.version)
print(sys.version.split()[0]) ##more readable form

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
3.7.13

***Use of print statement***

In [ ]:
age=20
print("I am %d years old."%(age))

I am 20 years old.

In [ ]:
age=20
print("I am {} years old.".format(age))

I am 20 years old.

In [ ]:
age=20
print(f"I am {age} years old.")

I am 20 years old.

In [ ]:
language="python"
versions="3.7"
print(f"I am learning {language} version {versions}")

I am learning python version 3.7

In [ ]:
price=34.99
weight=20
print(f"Price: ${price}. Weight: {weight} lbs.")

Price: $34.99. Weight: 20 lbs.

In [ ]:
from math import pi
print(f'Pi: {pi:.2f}')

Pi: 3.14

In [ ]:
print("-"*40)
print("VERSION: 1.0.1")
print("-"*40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
print("="*40)
print("author: johnsmith@sample.com")
print("date: 01-01-2021")
print("="*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [ ]:
string="summer time holiday"
print(string.replace(" ","#"))
print('summer','time','holiday', sep='#')

summer#time#holiday
summer#time#holiday

***Calculations in python***

In [ ]:
from math import pi
radius = 5
pi = 3.14
area = pi * radius ** 2
print(f'Area: {area:.1f}')

Area: 78.5

In [ ]:
principle =1000
rate=0.03
time=5
finalvalue= principle * (1+ rate) ** time
print(f'The future value of the investment: {finalvalue:.2f} USD')

The future value of the investment: 1159.27 USD

delta value for the eq: 3x2-4x+1=0

In [ ]:
a=3
b=-4
c=1
delta= (b**2) - (4*a*c)
print(f'Delta: {delta}')

Delta: 4

***String slicing***

In [ ]:
filename="view.jpg"
print(filename[-3:])

jpg

In [ ]:
string = 'PKV-89415-PLN'
code= string[0:3]+string[-3:]
print(code)

PKVPLN

In [ ]:
string = '1 0 0 1 0 1'
num = string.replace(" ","")
print("Number found: %d"%(int(num,2)))

Number found: 37

In [ ]:
text = 'Python Course'
print(text[::-1])

esruoC nohtyP

In [ ]:
var1 = ''
var2 = ' '
var3 = '\n'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
 
print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [ ]:
flag = False
print(isinstance(flag,bool))

True

In [ ]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

In [ ]:
text = 'python is a popular programming language.'
print("Number of occurrences: %s"%(text.count("p")))

Number of occurrences: 4

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print("code1: %s"%(code1.endswith("2020")))
print("code2: %s"%(code2.endswith("2020")))

code1: True
code2: False

In [ ]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print("path1: %s"%(path1.startswith("youtube")))
print("path2: %s"%(path2.startswith("youtube")))

path1: True
path2: False

In [ ]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print("path1: %s"%(path1.find("scientist")))
print("path2: %s"%(path2.find("scientist")))
print("path3: %s"%(path3.find("scientist")))

path1: 49
path2: 49
path3: -1

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print("code1: %s"%(code1.isalnum()))
print("code2: %s"%(code2.isalnum()))

code1: False
code2: True

In [ ]:
text = 'Google Colab'
print(text.lower())
print(text.upper())

google colab
GOOGLE COLAB

In [ ]:
text = '  Google Colab   '
text1 = text.lstrip()
text2 = text1.rstrip()
print(text2)

Google Colab

In [ ]:
code = 'FVNISJND-XX'
print(code.replace("-"," "))

FVNISJND XX

In [ ]:
text = '340-23-245-235'
print(text.replace("-",""))

34023245235

In [ ]:
text = 'Open,High,Low,Close'
print(text.split(','))

['Open', 'High', 'Low', 'Close']

In [ ]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.split("\n"))

['Python is a general-purpose language.', 'Python is popular.']

In [ ]:
num = 34
print(str(num).zfill(6))

000034

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
string = url.split('/')[-1]
print(string.replace("-"," "))

sciezka data scientist machine learning engineer

###Data Structures

In [ ]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'english', 'mathematics', 'biology'}

In [ ]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text = text.lower().replace(" ","")
text = text.replace(".","")
letters =set(text).difference(vowels)
print("Number of items: %s"%(len(letters)))

Number of items: 8

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}
print("Symmetric difference: %s"%(A.symmetric_difference(B)))

Symmetric difference: {2, 6, 8, 10}

In [ ]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
print("Selected ID: %s"%(ad1_id.symmetric_difference(ad2_id)))

Selected ID: {'001', '007'}

In [ ]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
print("Customer ID: %s"%(is_clicked.intersection(is_bought)))

Customer ID: {'9005', '9002'}

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
com = dji1 +dji2
print(com)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
nest=(dji1,dji2)
print(nest)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [ ]:
members = (('Kate', 23), ('Tom', 19))
members=(members[0],('John',26),members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

In [ ]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print("Number of occurrences: %s"%(default.count('YES')))

Number of occurrences: 2

In [ ]:
names = ('Monica', 'Tom', 'John', 'Michael')
print(tuple(sorted(names)))

('John', 'Michael', 'Monica', 'Tom')

In [ ]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
ascending = tuple(sorted(info))
descending = tuple(sorted(info, reverse= True))
print(f"Ascending: {ascending}")
print(f"Descending: {descending}")

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [ ]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))
print(stocks[0][1][0])

AAPL.US

In [ ]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [ ]:
idx = ['001', '002', '001', '003', '001']
print("Number of occurrences: %s"%(idx.count('001')))

Number of occurrences: 3

In [ ]:
text = 'Python programming'
text_modified= list(set((text.lower()).replace(" ","")))
print(sorted(text_modified))

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)
print(day2)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']
['4231', '5234', '1345', '2455']

In [ ]:
techs = ('python', 'java', 'sql', 'aws')
print(tuple(sorted(techs)))

('aws', 'java', 'python', 'sql')

In [ ]:
hashtags = ['summer', 'time', 'vibes']
print('#'+'#'.join(hashtags))

#summer#time#vibes#

In [ ]:
string="Cisco Switch"
print(string.find("sco"))

2

In [ ]:
dict1={"USA":"Washington","Germany":"Berlin","Austria":"Vienna"}
print(dict1)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

In [ ]:
dict1={"USA":"Washington","Germany":"Berlin","Austria":"Vienna"}
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1.get("Austria"))

dict_keys(['USA', 'Germany', 'Austria'])
dict_values(['Washington', 'Berlin', 'Vienna'])
dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])
Vienna

In [ ]:
stocks = {'MSFT.US': {'Microsoft Corp': 184},'AAPL.US': {'Apple Inc': 310},'MMM.US': {'3M Co': 148}}
print(stocks.get("AAPL.US"))
print(stocks["MSFT.US"]["Microsoft Corp"])
stocks["MSFT.US"]["Microsoft Corp"] = 190
print(stocks.get("MSFT.US"))
stocks["V.US"]= {"Visa Inc": 185}
print(stocks.values())

{'Apple Inc': 310}
184
{'Microsoft Corp': 190}
dict_values([{'Microsoft Corp': 190}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [ ]:
tickers = ['AAPL.US', 'AXP.US', 'BA.US', 'CAT.US','CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US','GS.US', 'HD.US', 'IBM.US', 'INTC.US']
print(list(enumerate(tickers)))
print(dict(enumerate(tickers)))

[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]
{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}

In [ ]:
project_ids = {'01': 'open','03': 'in progress','05': 'in progress','04': 'completed'}
print(sorted(list(set(project_ids.values()))))

['completed', 'in progress', 'open']

In [ ]:
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}
del stats["traffic"]
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

In [ ]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
print(users.get("004",'indefinite'))

indefinite

###Program flow control

In [ ]:
filename = '01012020_sales.xlsx'
if filename.endswith(".xlsx"):
  print("YES")
else:
  print("NO")

YES

In [ ]:
code = 'DSVNDOICSN'
if code.isupper():
  print("YES")
else:
  print("NO")

YES

In [ ]:
number = 1.0
if number is int:
  print("YES")
else:
  print("NO")

NO

In [ ]:
password = 'cskdnjcasa#!'
print("checking if password's length is more than 11\n")
if len(password) >= 11 and "!" in password:
  print("Password correct")
else:
  print("Password too short")

checking if password's length is more than 11

Password correct

In [ ]:
project_ids = ['02134', '24253']
project_id = '02135'
if project_id not in project_ids:
  project_ids.append(project_id)
  print(project_ids)

['02134', '24253', '02135']

In [ ]:
project_ids = {'01': 'open','02': 'new','03': 'in progress','04': 'completed'}
if project_ids['02'] is 'new':
  project_ids['02'] = 'open'

print(project_ids)

{'01': 'open', '02': 'open', '03': 'in progress', '04': 'completed'}

In [ ]:
item = '001'
items = ['001', '000', '003', '005', '006']
if item in items:
  items.remove(item)

print(items)

['000', '003', '005', '006']

In [ ]:
multipleof11 = []
for i in range(1,100):
  if i%11 == 0 and i%3 != 0:
    multipleof11.append(str(i))

print(','.join(multipleof11))

11,22,44,55,77,88

In [ ]:
items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
result =[]
for i in items:
  if not i%2 != 0:
    result.append(i)

print(result)

[4, 6, 10, 24]

In [ ]:
items = [1, 5, 3, 2, 2, 4, 2, 4]
result = []

for item in items:
  if not item in result:
    result.append(item)

print(result)

[1, 5, 3, 2, 4]

In [ ]:
text = 'Python is a very popular programming language'
text = text.lower()
words = text.split(" ")
print(words[:4])

['python', 'is', 'a', 'very']

**or**

In [ ]:
text = 'Python is a very popular programming language'
words = text.split(" ")
result = []
for idx,word in enumerate(words):
  if idx < 4:
    result.append(word.lower())
print(result)

['python', 'is', 'a', 'very']

In [ ]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = []
for possiblity in probabilities:
  if possiblity >= 0.5:
    result.append(possiblity)

print(result)

[0.91, 0.55, 0.76]

In [ ]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = []
for i in probabilities:
  if i < 0.5:
    result.append(0)
  else:
    result.append(1)
print(result)

[0, 1, 0, 1, 1, 0]

In [ ]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
dict1 = {}
for i in items:
  if i not in dict1:
    dict1[i] = items.count(i)
print(dict1)

{'x': 3, 'y': 4, 'z': 2}

In [ ]:
text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else"""
text = text.lower()
text = text.replace("...","")
text= text.replace("\n"," ")
text = text.split()
result =[]
for i in text:
  if len(i) > 6:
    result.append(i)
print(result)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

In [ ]:
indexes = [
    'BOVESPA', 'DOW JONES COMP', 'DOW JONES INDU',
    'DOW JONES TRANS', 'DOW JONES UTIL', 'IPC',
    'IPSA', 'MERVAL', 'NASDAQ COMP', 'NASDAQ100',
    'S&P500', 'S&P/TSX COMP'
]
for i in indexes:
  if i.startswith("DOW") or i.startswith("S&P"):
    print(i)

DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP

In [ ]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}
for i in gaming:
  if gaming[i] > 100.00:
    print(i)

11B
CDR
PLW
TEN

In [ ]:
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']
for i in names:
  if i.isalpha():
    print(f"Hello {i}!")

Hello Jack!
Hello Leon!
Hello Alice!
Hello Bob!

In [2]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
for i in list1:
  if i in list2:
    print("True")
    break

True

In [6]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
print(isinstance(hashtags,str))

False

In [11]:
number = 13
if number > 1:
  for i in range(2,number):
    if number % i == 0:
      print(f"{number} - not prime number")
      break
    else:
      print(f"{number} - prime number")
      break
else:
  print(f"{number} - not prime number")

13 - prime number

In [13]:
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}
for i, j in gaming.items():
  if j[1] == "PLN":
    continue
  j[0] = j[0] * 4.0
  j[1] = "PLN"

print(gaming)

{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}

In [14]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']
for name in names:
  if type(name) is not str:
    continue
  print(name)

Jack
Leon
Alice
Bob

In [17]:
counter = 0
number = 2
prime = []

while counter < 10:
  for i in range(2,number):
    if number % i == 0:
      break
  else:
      prime.append(str(number))
      counter += 1
  number += 1
print(','.join(prime))

2,3,5,7,11,13,17,19,23,29

In [ ]:
n = 1
pv = 1000
r = 0.04
fv = pv * (1 + r)
 
while fv <= 2000:
    fv = fv * (1 + r)
    n += 1
print(f'Future value: {fv:.2f} USD. Number of periods: {n} years')

In [18]:
sum = 3000
counter = 0
try:
  result = sum / counter
  print(result)
except ZeroDivisionError:
  print("Division by zero.")

Division by zero.

In [21]:
try:
  with open("file.txt","r") as file:
    content=file.read()
except FileNotFoundError:
  print("File not found.")

File not found.

In [24]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
user_id = '004'
try:
  print(users['004'])
except KeyError:
  print("The 004 key is not in the dictionary. Adding key ...")
  users['004'] = None
  print(users)

The 004 key is not in the dictionary. Adding key ...
{'001': 'Mark', '002': 'Monica', '003': 'Jacob', '004': None}