<a href="https://colab.research.google.com/github/Deeps-githubacc/python-exercises-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Basics

In [ ]:
print("Hello world! welcome to python exercise repo")

Hello world! welcome to python exercise repo

***To check python version***

In [ ]:
import sys
print(sys.version)
print(sys.version.split()[0]) ##more readable form

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
3.7.13

***Use of print statement***

In [ ]:
age=20
print("I am %d years old."%(age))

I am 20 years old.

In [ ]:
age=20
print("I am {} years old.".format(age))

I am 20 years old.

In [ ]:
age=20
print(f"I am {age} years old.")

I am 20 years old.

In [ ]:
language="python"
versions="3.7"
print(f"I am learning {language} version {versions}")

I am learning python version 3.7

In [ ]:
price=34.99
weight=20
print(f"Price: ${price}. Weight: {weight} lbs.")

Price: $34.99. Weight: 20 lbs.

In [ ]:
from math import pi
print(f'Pi: {pi:.2f}')

Pi: 3.14

In [ ]:
print("-"*40)
print("VERSION: 1.0.1")
print("-"*40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
print("="*40)
print("author: johnsmith@sample.com")
print("date: 01-01-2021")
print("="*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [ ]:
string="summer time holiday"
print(string.replace(" ","#"))
print('summer','time','holiday', sep='#')

summer#time#holiday
summer#time#holiday

***Calculations in python***

In [ ]:
from math import pi
radius = 5
pi = 3.14
area = pi * radius ** 2
print(f'Area: {area:.1f}')

Area: 78.5

In [ ]:
principle =1000
rate=0.03
time=5
finalvalue= principle * (1+ rate) ** time
print(f'The future value of the investment: {finalvalue:.2f} USD')

The future value of the investment: 1159.27 USD

delta value for the eq: 3x2-4x+1=0

In [ ]:
a=3
b=-4
c=1
delta= (b**2) - (4*a*c)
print(f'Delta: {delta}')

Delta: 4

***String slicing***

In [ ]:
filename="view.jpg"
print(filename[-3:])

jpg

In [ ]:
string = 'PKV-89415-PLN'
code= string[0:3]+string[-3:]
print(code)

PKVPLN

In [ ]:
string = '1 0 0 1 0 1'
num = string.replace(" ","")
print("Number found: %d"%(int(num,2)))

Number found: 37

In [ ]:
text = 'Python Course'
print(text[::-1])

esruoC nohtyP

In [ ]:
var1 = ''
var2 = ' '
var3 = '\n'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
 
print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [ ]:
flag = False
print(isinstance(flag,bool))

True

In [ ]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

In [ ]:
text = 'python is a popular programming language.'
print("Number of occurrences: %s"%(text.count("p")))

Number of occurrences: 4

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print("code1: %s"%(code1.endswith("2020")))
print("code2: %s"%(code2.endswith("2020")))

code1: True
code2: False

In [ ]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print("path1: %s"%(path1.startswith("youtube")))
print("path2: %s"%(path2.startswith("youtube")))

path1: True
path2: False

In [ ]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print("path1: %s"%(path1.find("scientist")))
print("path2: %s"%(path2.find("scientist")))
print("path3: %s"%(path3.find("scientist")))

path1: 49
path2: 49
path3: -1

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print("code1: %s"%(code1.isalnum()))
print("code2: %s"%(code2.isalnum()))

code1: False
code2: True

In [ ]:
text = 'Google Colab'
print(text.lower())
print(text.upper())

google colab
GOOGLE COLAB

In [ ]:
text = '  Google Colab   '
text1 = text.lstrip()
text2 = text1.rstrip()
print(text2)

Google Colab

In [ ]:
code = 'FVNISJND-XX'
print(code.replace("-"," "))

FVNISJND XX

In [ ]:
text = '340-23-245-235'
print(text.replace("-",""))

34023245235

In [ ]:
text = 'Open,High,Low,Close'
print(text.split(','))

['Open', 'High', 'Low', 'Close']

In [ ]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.split("\n"))

['Python is a general-purpose language.', 'Python is popular.']

In [ ]:
num = 34
print(str(num).zfill(6))

000034

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
string = url.split('/')[-1]
print(string.replace("-"," "))

sciezka data scientist machine learning engineer

###Data Structures

In [ ]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'english', 'mathematics', 'biology'}

In [ ]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text = text.lower().replace(" ","")
text = text.replace(".","")
letters =set(text).difference(vowels)
print("Number of items: %s"%(len(letters)))

Number of items: 8

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}
print("Symmetric difference: %s"%(A.symmetric_difference(B)))

Symmetric difference: {2, 6, 8, 10}

In [ ]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
print("Selected ID: %s"%(ad1_id.symmetric_difference(ad2_id)))

Selected ID: {'001', '007'}

In [ ]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
print("Customer ID: %s"%(is_clicked.intersection(is_bought)))

Customer ID: {'9005', '9002'}

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
com = dji1 +dji2
print(com)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
nest=(dji1,dji2)
print(nest)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [ ]:
members = (('Kate', 23), ('Tom', 19))
members=(members[0],('John',26),members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

In [ ]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print("Number of occurrences: %s"%(default.count('YES')))

Number of occurrences: 2

In [ ]:
names = ('Monica', 'Tom', 'John', 'Michael')
print(tuple(sorted(names)))

('John', 'Michael', 'Monica', 'Tom')

In [ ]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
ascending = tuple(sorted(info))
descending = tuple(sorted(info, reverse= True))
print(f"Ascending: {ascending}")
print(f"Descending: {descending}")

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [ ]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))
print(stocks[0][1][0])

AAPL.US

In [ ]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [ ]:
idx = ['001', '002', '001', '003', '001']
print("Number of occurrences: %s"%(idx.count('001')))

Number of occurrences: 3

In [ ]:
text = 'Python programming'
text_modified= list(set((text.lower()).replace(" ","")))
print(sorted(text_modified))

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)
print(day2)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']
['4231', '5234', '1345', '2455']

In [ ]:
techs = ('python', 'java', 'sql', 'aws')
print(tuple(sorted(techs)))

('aws', 'java', 'python', 'sql')

In [ ]:
hashtags = ['summer', 'time', 'vibes']
print('#'+'#'.join(hashtags))

#summer#time#vibes#

In [ ]:
string="Cisco Switch"
print(string.find("sco"))

2

In [ ]:
dict1={"USA":"Washington","Germany":"Berlin","Austria":"Vienna"}
print(dict1)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

In [ ]:
dict1={"USA":"Washington","Germany":"Berlin","Austria":"Vienna"}
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1.get("Austria"))

dict_keys(['USA', 'Germany', 'Austria'])
dict_values(['Washington', 'Berlin', 'Vienna'])
dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])
Vienna

In [ ]:
stocks = {'MSFT.US': {'Microsoft Corp': 184},'AAPL.US': {'Apple Inc': 310},'MMM.US': {'3M Co': 148}}
print(stocks.get("AAPL.US"))
print(stocks["MSFT.US"]["Microsoft Corp"])
stocks["MSFT.US"]["Microsoft Corp"] = 190
print(stocks.get("MSFT.US"))
stocks["V.US"]= {"Visa Inc": 185}
print(stocks.values())

{'Apple Inc': 310}
184
{'Microsoft Corp': 190}
dict_values([{'Microsoft Corp': 190}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [ ]:
tickers = ['AAPL.US', 'AXP.US', 'BA.US', 'CAT.US','CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US','GS.US', 'HD.US', 'IBM.US', 'INTC.US']
print(list(enumerate(tickers)))
print(dict(enumerate(tickers)))

[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]
{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}

In [ ]:
project_ids = {'01': 'open','03': 'in progress','05': 'in progress','04': 'completed'}
print(sorted(list(set(project_ids.values()))))

['completed', 'in progress', 'open']

In [ ]:
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}
del stats["traffic"]
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

In [ ]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
print(users.get("004",'indefinite'))

indefinite

###Program flow control

In [ ]:
filename = '01012020_sales.xlsx'
if filename.endswith(".xlsx"):
  print("YES")
else:
  print("NO")

YES

In [ ]:
code = 'DSVNDOICSN'
if code.isupper():
  print("YES")
else:
  print("NO")

YES

In [ ]:
number = 1.0
if number is int:
  print("YES")
else:
  print("NO")

NO

In [ ]:
password = 'cskdnjcasa#!'
print("checking if password's length is more than 11\n")
if len(password) >= 11 and "!" in password:
  print("Password correct")
else:
  print("Password too short")

checking if password's length is more than 11

Password correct

In [ ]:
project_ids = ['02134', '24253']
project_id = '02135'
if project_id not in project_ids:
  project_ids.append(project_id)
  print(project_ids)

['02134', '24253', '02135']

In [ ]:
project_ids = {'01': 'open','02': 'new','03': 'in progress','04': 'completed'}
if project_ids['02'] is 'new':
  project_ids['02'] = 'open'

print(project_ids)

{'01': 'open', '02': 'open', '03': 'in progress', '04': 'completed'}

In [ ]:
item = '001'
items = ['001', '000', '003', '005', '006']
if item in items:
  items.remove(item)

print(items)

['000', '003', '005', '006']

In [ ]:
multipleof11 = []
for i in range(1,100):
  if i%11 == 0 and i%3 != 0:
    multipleof11.append(str(i))

print(','.join(multipleof11))

11,22,44,55,77,88

In [ ]:
items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
result =[]
for i in items:
  if not i%2 != 0:
    result.append(i)

print(result)

[4, 6, 10, 24]

In [ ]:
items = [1, 5, 3, 2, 2, 4, 2, 4]
result = []

for item in items:
  if not item in result:
    result.append(item)

print(result)

[1, 5, 3, 2, 4]

In [ ]:
text = 'Python is a very popular programming language'
text = text.lower()
words = text.split(" ")
print(words[:4])

['python', 'is', 'a', 'very']

**or**

In [ ]:
text = 'Python is a very popular programming language'
words = text.split(" ")
result = []
for idx,word in enumerate(words):
  if idx < 4:
    result.append(word.lower())
print(result)

['python', 'is', 'a', 'very']

In [ ]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = []
for possiblity in probabilities:
  if possiblity >= 0.5:
    result.append(possiblity)

print(result)

[0.91, 0.55, 0.76]

In [ ]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = []
for i in probabilities:
  if i < 0.5:
    result.append(0)
  else:
    result.append(1)
print(result)

[0, 1, 0, 1, 1, 0]

In [ ]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
dict1 = {}
for i in items:
  if i not in dict1:
    dict1[i] = items.count(i)
print(dict1)

{'x': 3, 'y': 4, 'z': 2}

In [ ]:
text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else"""
text = text.lower()
text = text.replace("...","")
text= text.replace("\n"," ")
text = text.split()
result =[]
for i in text:
  if len(i) > 6:
    result.append(i)
print(result)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

In [ ]:
indexes = [
    'BOVESPA', 'DOW JONES COMP', 'DOW JONES INDU',
    'DOW JONES TRANS', 'DOW JONES UTIL', 'IPC',
    'IPSA', 'MERVAL', 'NASDAQ COMP', 'NASDAQ100',
    'S&P500', 'S&P/TSX COMP'
]
for i in indexes:
  if i.startswith("DOW") or i.startswith("S&P"):
    print(i)

DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP

In [ ]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}
for i in gaming:
  if gaming[i] > 100.00:
    print(i)

11B
CDR
PLW
TEN

In [ ]:
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']
for i in names:
  if i.isalpha():
    print(f"Hello {i}!")

Hello Jack!
Hello Leon!
Hello Alice!
Hello Bob!

In [2]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
for i in list1:
  if i in list2:
    print("True")
    break

True

In [6]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
print(isinstance(hashtags,str))

False

In [11]:
number = 13
if number > 1:
  for i in range(2,number):
    if number % i == 0:
      print(f"{number} - not prime number")
      break
    else:
      print(f"{number} - prime number")
      break
else:
  print(f"{number} - not prime number")

13 - prime number

In [13]:
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}
for i, j in gaming.items():
  if j[1] == "PLN":
    continue
  j[0] = j[0] * 4.0
  j[1] = "PLN"

print(gaming)

{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}

In [14]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']
for name in names:
  if type(name) is not str:
    continue
  print(name)

Jack
Leon
Alice
Bob

In [17]:
counter = 0
number = 2
prime = []

while counter < 10:
  for i in range(2,number):
    if number % i == 0:
      break
  else:
      prime.append(str(number))
      counter += 1
  number += 1
print(','.join(prime))

2,3,5,7,11,13,17,19,23,29

In [ ]:
n = 1
pv = 1000
r = 0.04
fv = pv * (1 + r)
 
while fv <= 2000:
    fv = fv * (1 + r)
    n += 1
print(f'Future value: {fv:.2f} USD. Number of periods: {n} years')

In [18]:
sum = 3000
counter = 0
try:
  result = sum / counter
  print(result)
except ZeroDivisionError:
  print("Division by zero.")

Division by zero.

In [21]:
try:
  with open("file.txt","r") as file:
    content=file.read()
except FileNotFoundError:
  print("File not found.")

File not found.

In [24]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
user_id = '004'
try:
  print(users['004'])
except KeyError:
  print("The 004 key is not in the dictionary. Adding key ...")
  users['004'] = None
  print(users)

The 004 key is not in the dictionary. Adding key ...
{'001': 'Mark', '002': 'Monica', '003': 'Jacob', '004': None}

###Input/Output

In [ ]:
with open("playway.txt","w") as playway:
  playway.writelines(["Date","Open","High","Low","Close","Volume"])
  playway.writelines(["2020-04-01","302","314","300","310","12940"])
  playway.writelines(["2020-04-02","310","315","305","313","10311"])
  playway.writelines(["2020-04-03","313","318.5","312","318","12372"])

with open("playway.txt","r") as file:
  lines = file.read().splitlines()

close = []

for idx, line in enumerate(lines):
  if idx > 0:
    close.append(int(line.split(',')[-2]))
    
close_avg = sum(close) / len(close)
print(f"3-day average closing price: {close_avg:.2f}")

In [ ]:
with open("currencies.txt","r") as currency:
  lines = currency.read().splitlines()

indexes = [index for index in lines if 'USD' in index]
print(indexes)

In [ ]:
with open("playway.csv","r") as file:
  content = file.read().splitlines()
data = [(line.split(',')[0], line.split(',')[4] )for line in content]
result = { data[0][0]: [data[1:][i][0] for i in range(len(data)-1)], data[0][1]:[float(data[1:][i][1]) for i in range(len(data)-1)]}
print(result)

In [ ]:
with open("playway.csv","r") as file:
  content=file.read().splitlines()

volumes = [line.split(',')[-1] for line in content][1:]
volumes = [int(vol) for vol in volumes]
max_vol = max(volumes)
print(f'Max Vol: {max_vol}')

In [ ]:
with open("playway.csv","r") as file:
  content = file.read().splitlines()

data =[(line.split(',')[0],line.split(",")[-1]) for line in content][1:]
data=[(val[0],int(val[1])) for val in data]
max_vol = max([val[1] for val in data])
max_date = list(filter(lambda val: val[1] == max_vol,data))[0][0]
print(f'Date: {max_date}')

In [13]:
numbers = list(range(1,20))
even = [number for number in numbers if number % 2 == 0]

with open("num.txt","w") as file:
  for num in even:
    file.write(str(num) + '\n')
    
with open("num.txt","r") as fileread:
  print(fileread.read())

2
4
6
8
10
12
14
16
18

In [12]:
import json

stocks = {'PLW': ['Playway', 350], 'BBT': ['Boombit', 22]}

with open('stocks.json','w') as file:
  json.dump(stocks, file,indent=4)

with open("stocks.json",'r') as fileread:
  print(fileread.read())

{
    "PLW": [
        "Playway",
        350
    ],
    "BBT": [
        "Boombit",
        22
    ]
}

In [15]:
headers = ['user_id', 'amount']
users = [['001', '1400'], ['004', '1300'], ['007', '900']]
with open("user.csv","w") as file:
  file.write(','.join(headers) + '\n')
  for user in users:
    file.write(','.join(user) + '\n')

with open("user.csv","r") as fileread:
  print(fileread.read())

user_id,amount
001,1400
004,1300
007,900

###Functions

In [17]:
x = -1.5
expression = 'x**2 + x'
print(eval(expression))

0.75

In [20]:
var1 = 'Python'
var2 = ('Python')
var3 = ('Python',)
var4 = ['Python']
var5 = {'Python'}
print(isinstance(var1,tuple))
print(isinstance(var2,tuple))
print(isinstance(var3,tuple))
print(isinstance(var4,tuple))
print(isinstance(var5,tuple))

False
False
True
False
False

In [25]:
characters = ['k', 'b', 'c', 'j', 'z', 'w']
print(f'First: {min(characters)}')
print(f'Last: {max(characters)}')

First: b
Last: z

In [27]:
ticker = ('TEN', 'PLW', 'CDR')
full_name = ('Ten Square Games', 'Playway', 'CD Projekt')
print(list(zip(ticker,full_name)))

[('TEN', 'Ten Square Games'), ('PLW', 'Playway'), ('CDR', 'CD Projekt')]

In [31]:
items = (' ', '0', 0.1, True)
print(all(items))

True

In [32]:
items = ('', 0.0, 0, False)
print(any(items))

False

In [40]:
number = 234
binary = bin(234)
print(binary.count('1'))

5

In [41]:
def maximum(x,y):
  if x >= y:
    return x
  else:
    return y

print(maximum(4,2))
print(maximum(-4,2))

4
2

In [42]:
def maximum(x,y,z):
  if x >= y and x >= z:
    return x
  elif y >= z:
    return y
  else:
    return z
print(maximum(4,2,1))
print(maximum(-3,2,5))

4
5

In [44]:
def multi(numbers):
  result =1
  for number in numbers:
    result *= number
  return result

print(multi((-4,6,2)))
print(multi([4,2,-5]))

-48
-40

In [48]:
def map_longest(list1):
  length = []
  for element in list1:
    length.append(len(element))
  return max(length)

print(map_longest(['python','sql']))
print(map_longest(['java','sql','r']))

6
4

In [49]:
def filter_ge_6(listsupper):
  listminor = []
  for element in listsupper:
    if len(element) >= 6:
      listminor.append(element)
  return listminor

print(filter_ge_6(['programming','python','java','sql']))
print(filter_ge_6(['java','sql']))

['programming', 'python']
[]

In [50]:
def factorial(n):
  if n == 0:
    return 1
  return n * factorial(n-1)

print(factorial(6))
print(factorial(10))

720
3628800

In [51]:
def count_str(obj):
  count=0
  for element in obj:
    if type(element) is str:
      count +=1
  return count

print(count_str(['p',2,4.3,None]))
print(count_str({'p',2,4.3, True,'True',None}))

1
2

In [53]:
def count_str(obj):
  count = 0
  for element in obj:
    if isinstance(element,str) and len(element) > 2:
      count +=1
  return count

print(count_str([1, '#hello','','python','go']))
print(count_str([1,2,3, 'python']))

2
1

In [54]:
def remove_duplicates(obj):
  objminor = []
  for element in obj:
    if element not in objminor:
      objminor.append(element)
  return objminor

print(remove_duplicates([1,5,3,2,2,4,2,4]))
print(remove_duplicates([1,1,1,1]))

[1, 5, 3, 2, 4]
[1]

In [55]:
def is_distinct(obj):
  return len(obj) == len(set(obj))

print(is_distinct([1,2,3]))
print(is_distinct([1,2,3,3]))

True
False

In [58]:
def function(idx, l=[]):
    for i in range(idx):
        l.append(i ** 3)
    print(l)

function(3)
function(5,['a','b','c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]

In [59]:
def function(*args, **kwargs):
    print(args, kwargs)

function(3,4)
function(x=3,y=4)
function(1,2,x=3,y=4)

(3, 4) {}
() {'x': 3, 'y': 4}
(1, 2) {'x': 3, 'y': 4}

In [61]:
def is_palindrome(string):
  inverse = string[::-1]
  if string == inverse:
    return True
  else:
    return False

print(is_palindrome('level'))
print(is_palindrome('python'))

True
False

In [3]:
stocks = ['playway', 'boombit', 'cd projekt']
length = list(map(lambda stock: len(stock),stocks))
print(length)

[7, 7, 10]

In [4]:
def sort_list(obj):
  return sorted(obj, key =lambda item: item[1])

sort_list([(1,3),(4,1),(4,2),(0,7)])

[(4, 1), (4, 2), (1, 3), (0, 7)]

In [5]:
def func_1(x,y):
  return x + y + 2

func_2 = lambda x,y: x + y + 2

func_2(1,2)

5

In [8]:
items = [(3, 4), (2, 5), (1, 4), (6, 1)]
items.sort(key=lambda item: item[0]**2 + item[1]**2)
print(items)

[(1, 4), (3, 4), (2, 5), (6, 1)]

In [9]:
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
stocks.sort(key=lambda item: item['price'])
print(stocks)

[{'index': 'sWIG80', 'name': 'BBT', 'price': 22}, {'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]

In [12]:
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
filterlist = []
for element in stocks:
  if element['index'] == 'mWIG40':
    filterlist.append(element)
print(filterlist)

#using lamba function

print(list(filter(lambda item: item['index'] == 'mWIG40', stocks)))

[{'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]
[{'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]

In [15]:
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
boo = []
for element in stocks:
  if element['index'] == 'mWIG40':
    boo.append(True)
  else:
    boo.append(False)

print(boo)

#using lambda function

print(list(map(lambda item: item['index'] == 'mWIG40',stocks)))

[True, True, False]
[True, True, False]

In [21]:
items = ['P-1', 'R-2', 'D-4', 'F-6']
itemsnew=[]
for element in items:
  itemsnew.append(element.replace("-",""))
print(itemsnew)

#using lambda function

print(list(map(lambda item: item.replace('-',''),items)))

['P1', 'R2', 'D4', 'F6']
['P1', 'R2', 'D4', 'F6']

In [25]:
num1 = [4, 2, 6, 2, 11]
num2 = [5, 2, 3, 3, 9]
remainders = []
if len(num1) == len(num2):
  for i,j in zip(num1,num2):
    remainders.append(i%j)

print(remainders)

#using lambda function

print(list(map(lambda x,y: x%y, num1, num2)))

[4, 0, 0, 2, 2]
[4, 0, 0, 2, 2]

In [28]:
def file_gen(list1):
  output = []
  for element in list1:
    if element.endswith(".txt"):
      output.append(element)
  return output

fnames = ['data1.txt','data2.txt','data3.txt','view.jpg']
list(file_gen(fnames))

# another method using yield

def file_gen(fnames):
    for fname in fnames:
        if fname.endswith('.txt'):
            yield fname

In [34]:
def enum(list1):
  tup=[]
  for element in list1:
    a = (list1.index(element),element)
    tup.append(a)
  return tup

enum(['TEN','CDR','BBT'])

#another method using yield

def enum(items):
    idx = 0
    for item in items:
        yield (idx, item)
        idx += 1

[(0, 'TEN'), (1, 'CDR'), (2, 'BBT')]

In [38]:
def dayname(idx):
  days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  yield days[idx -1]
  yield days[idx]
  yield days[(idx +1)%7]

for pair in dayname(6):
  print(pair)

Sat
Sun
Mon

###Transformation of Data Structures

1.Consider the two-roll of the dice.Create the probability space(omega) and count the probability of getting a sum of points higher than 10. Use set comprehension.

In [5]:
omega = {(i,j) for i in range(1,7) for j in range(1,7)}
sum_gt_10 = {pair for pair in omega if pair[0] + pair[1] > 10}
print(len(omega))
print(len(sum_gt_10))
print(f'Probability: {len(sum_gt_10) / len(omega):.2f}')

36
3
Probability: 0.08

In [11]:
desc = "Playway: Playway is a producer of computer games."
print(len(set(desc.lower().replace(":","").replace(".","").split())))

7

2.Consider the two-roll of dice. Create the probability space(omega) and calculate the probability of getting a sum of squares higher or equal to 45. Use set comprehension. Round the result to two decimal places and print the result.

In [15]:
omega = {(i,j) for i in range(1,7) for j in range(1,7)}
sum_sq_45 = {pair for pair in omega if (pair[0]**2)+(pair[1]**2) >= 45}
print(len(omega))
print(len(sum_sq_45))
print(f"Probability: {len(sum_sq_45) / (len(omega)):.2f}")

36
8
Probability: 0.22

3.consider a three-roll of the dice. Create the probability space(omega) and calculate the probability of obtaining three values which the sum is divisible by 7. use set comprehension. Round the result to two decimal places and print the result.

In [19]:
omega = {(i,j,k) for i in range(1,7) for j in range(1,7) for k in range(1,7)}
sum_div_7 = {pair for pair in omega if (pair[0]+pair[1]+pair[2]) % 7 == 0 }
print(len(omega))
print(len(sum_div_7))
print(f'Probability: {len(sum_div_7)/len(omega):.2f}')

216
30
Probability: 0.14

4.Calculate the probability that in three throws of symmentrical cubic dice, the sum of the squares of point will be divisible by 3. use set comprehension. round the result upto fourth decimal place and print result.

In [21]:
omega = {(i,j,k) for i in range(1,7) for j in range(1,7) for k in range(1,7)}
sum_div_3 = {pair for pair in omega if (pair[0]**2 + pair[1]**2 + pair[2]**2) % 3 == 0 }
print(f'Probability: {len(sum_div_3)/len(omega):.4f}')

Probability: 0.3333

5.We roll the Symmetrical dice three times. Calculate the probability of odd number of points in each roll. use set comprehension. round these result to three decimal places and print.

In [3]:
omega = {(i,j,k) for i in range(1,7) for j in range(1,7) for k in range(1,7)}
odd = {pair for pair in omega if pair[0] % 2 != 0 and pair[1] % 2 !=0 and pair[2] % 2 != 0 }
print(f'Probability: {len(odd) / len(omega):.3f}')

Probability: 0.125

In [8]:
with open("gaming.txt","w") as game:
  game.write("Activision Blizzard\n")
  game.write("\n")
  game.write("Activision Blizzard, Inc. is a developer and publisher of interactive entertainment content and services. The Company develops and distributes content and services across various gaming platforms,")
  game.write("including video game consoles, personal computers (PC) and mobile devices. Its segments include Activision Publishing, Inc. (Activision), Blizzard Entertainment, Inc. (Blizzard),")
  game.write("King Digital Entertainment (King) and Other. Activision is a developer and publisher of interactive software products and content. Blizzard is engaged in developing and publishing of interactive")
  game.write("software products and entertainment content, particularly in PC gaming. King is a mobile entertainment company. It is engaged in other businesses, including The Major League Gaming (MLG) business;")
  game.write("The Activision Blizzard Studios (Studios) business, and The Activision Blizzard Distribution (Distribution) business. It also develops products spanning other genres, including action/adventure,")
  game.write("role-playing and simulation.")

with open("gaming.txt","r") as gameread:
  text= gameread.readlines()

text = [line.replace('\n','') for line in text]
text = [line for line in text if len(line) > 0]
print(text)

['Activision Blizzard', 'Activision Blizzard, Inc. is a developer and publisher of interactive entertainment content and services. The Company develops and distributes content and services across various gaming platforms,including video game consoles, personal computers (PC) and mobile devices. Its segments include Activision Publishing, Inc. (Activision), Blizzard Entertainment, Inc. (Blizzard),King Digital Entertainment (King) and Other. Activision is a developer and publisher of interactive software products and content. Blizzard is engaged in developing and publishing of interactivesoftware products and entertainment content, particularly in PC gaming. King is a mobile entertainment company. It is engaged in other businesses, including The Major League Gaming (MLG) business;The Activision Blizzard Studios (Studios) business, and The Activision Blizzard Distribution (Distribution) business. It also develops products spanning other genres, including action/adventure,role-playing and simulation.']

In [12]:
tax = 0.23
net_price = [5.5, 4.0, 9.0, 10.0]
gross_price = [round(nprice*(1+tax),2) for nprice in net_price]
print(gross_price)

[6.76, 4.92, 11.07, 12.3]

In [14]:
pv = 1000
n = 10
rate = [0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07]
fvs = [round(pv * (1+r)**n,2) for r in rate]
intrest = [round(fv - pv,2) for fv in fvs]
print(intrest)
print(fvs)

[104.62, 218.99, 343.92, 480.24, 628.89, 790.85, 967.15]
[1104.62, 1218.99, 1343.92, 1480.24, 1628.89, 1790.85, 1967.15]

In [19]:
with open("plw.txt","w") as f:
  f.write("PLAYWAY\n")
  f.write("\n")
  f.write("PlayWay is a producer and publisher of computer and mobile games. The company is characterized by a very large number of development teams and a large number of games produced simultaneously.")
  f.write("PlayWay sells, among others via the STEAM portal, AppStore and GooglePlay. The US and German markets are the two largest markets for the Group's sales.")
  f.write("In addition, the company has PlayWay Campus - a campus for cooperating development teams.")

with open("plw.txt","r") as R:
  lines = R.read().splitlines()

lines = [line for line in lines if len(line) > 0]
lines = [line.split() for line in lines]
print(lines)

[['PLAYWAY'], ['PlayWay', 'is', 'a', 'producer', 'and', 'publisher', 'of', 'computer', 'and', 'mobile', 'games.', 'The', 'company', 'is', 'characterized', 'by', 'a', 'very', 'large', 'number', 'of', 'development', 'teams', 'and', 'a', 'large', 'number', 'of', 'games', 'produced', 'simultaneously.PlayWay', 'sells,', 'among', 'others', 'via', 'the', 'STEAM', 'portal,', 'AppStore', 'and', 'GooglePlay.', 'The', 'US', 'and', 'German', 'markets', 'are', 'the', 'two', 'largest', 'markets', 'for', 'the', "Group's", 'sales.In', 'addition,', 'the', 'company', 'has', 'PlayWay', 'Campus', '-', 'a', 'campus', 'for', 'cooperating', 'development', 'teams.']]

In [32]:
with open("plw.txt","w") as f:
  f.write("PLAYWAY\n")
  f.write("\n")
  f.write("PlayWay is a producer and publisher of computer and mobile games. The company is characterized by a very large number of development teams and a large number of games produced simultaneously.")
  f.write("PlayWay sells, among others via the STEAM portal, AppStore and GooglePlay. The US and German markets are the two largest markets for the Group's sales.")
  f.write("In addition, the company has PlayWay Campus - a campus for cooperating development teams.")

with open("plw.txt","r") as R:
  lines = R.read()

lines = lines.lower()
lines = lines.replace(",","").replace(".","")
tokens = lines.split()
tokens = [token for token in tokens if len(token) > 7]
tokens.sort()
print(tokens)

['addition', 'appstore', 'characterized', 'computer', 'cooperating', 'development', 'development', 'googleplay', 'produced', 'producer', 'publisher', 'simultaneouslyplayway']

In [36]:
data = dict(zip(('a', 'b', 'c', 'd', 'e', 'f'),(1, 2, 3, 4, 5, 6)))
result = [[key,val] for key,val in data.items()]
print(result)

[['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5], ['f', 6]]

In [43]:
data = {key:key**2 for key in range(1,8) }
print(data)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [44]:
stocks = ['Playway', 'CD Projekt', 'Boombit']
data = {char: len(char) for char in stocks}
print(data)

{'Playway': 7, 'CD Projekt': 10, 'Boombit': 7}

In [50]:
stocks = {'Boombit': '001', 'CD Projekt': '002', 'Playway': '003'}
print(stocks)
data ={value:key for key,value in stocks.items()}
print(data)

{'Boombit': '001', 'CD Projekt': '002', 'Playway': '003'}
{'001': 'Boombit', '002': 'CD Projekt', '003': 'Playway'}

In [51]:
stocks = {'Boombit': 22, 'CD Projekt': 295, 'Playway': 350}
data ={key:value for key,value in stocks.items() if value >= 100}
print(data)

{'CD Projekt': 295, 'Playway': 350}

****Important****

In [52]:
data = [{i: i**j for i in range(1,10)} for j in range(1,4)]
print(data)

[{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}, {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}, {1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}]

****Important****

In [55]:
properties = ['number of companies', 'companies', 'cap']
indeks = ['WIG20', 'mWIG40', 'sWIG80']
data = {key: {value: None for value in properties} for key in indeks}
print(data)

{'WIG20': {'number of companies': None, 'companies': None, 'cap': None}, 'mWIG40': {'number of companies': None, 'companies': None, 'cap': None}, 'sWIG80': {'number of companies': None, 'companies': None, 'cap': None}}

In [56]:
indexes = ['WIG20', 'mWIG40', 'sWIG80']
data = {indexes.index(element): element for element in indexes}
print(data)

## another menthod
data = {key: val for key, val in enumerate(indexes)}
print(data)

{0: 'WIG20', 1: 'mWIG40', 2: 'sWIG80'}

###Built-in packages

****Calendar****

In [60]:
import calendar as cal
print(cal.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [62]:
import calendar as cal
print(cal.month(2022,6))

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

****Datetime****

In [64]:
from datetime import date
date1 = date(2020, 6, 1)
date2 = date(2020, 7, 18)
diff = date2 - date1
print(diff)

47 days, 0:00:00

****Regular Expression****

In [67]:
import re

string = 'Python 3.8'
result = re.findall('\d',string)
print(result)

['3', '8']

In [68]:
import re
string = '!@#$%^&45wc'
result = re.findall('\w',string)
print(result)

['4', '5', 'w', 'c']

In [81]:
import re

raw_text = "Send an email to info@template.com or sales-info@template.it"
result = re.findall(r'[\w\.-]+@[\w\.-]+', raw_text)
print(result)

['info@template.com', 'sales-info@template.it']

In [83]:
import re

text = 'Programming in Python - from A to Z'
result = re.split(" ", text)
print(result)

['Programming', 'in', 'Python', '-', 'from', 'A', 'to', 'Z']

****String****

In [84]:
import string

print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

****Counter****

In [85]:
from collections import Counter

counter = Counter()
items = ['YES', 'NO', 'NO', 'YES', 'EMPTY', 'YES', 'NO']

for item in items:
  counter[item] += 1
print(counter)

Counter({'YES': 3, 'NO': 3, 'EMPTY': 1})

****Math****

In [87]:
import math

def sigmoid(x):
  return 1 / (1 + math.exp(-x))

print(sigmoid(2))

0.8807970779778823

****Random****

In [88]:
import random

random.seed(12)

items = ['python', 'java', 'sql', 'c++', 'c']

choice = random.choice(items)
print(choice)

c++

In [89]:
import random

random.seed(15)

items = ['python', 'java', 'sql', 'c++', 'c']

random.shuffle(items)
print(items)

['c', 'c++', 'sql', 'python', 'java']

****Pickle****

In [95]:
import pickle

ids = ['001', '003', '011']

with open('data.pickle', 'wb') as file:
  pickle.dump(ids, file)

****JSON****

In [94]:
import json

stocks = {'PLW': 360.0, 'TEN': 320.0, 'CDR': 329.0}
result = json.dumps(stocks, sort_keys= True,indent=4)
print(result)

{
    "CDR": 329.0,
    "PLW": 360.0,
    "TEN": 320.0
}

###Summary

1. Accuracy predication model.

In [1]:
y_true = [0, 0, 1, 1, 0, 1, 0]
y_pred = [0, 0, 1, 0, 0, 1, 0]
def accuracy(y_true,y_pred):
  counter = 0
  for i, j in zip(y_true,y_pred):
    if i == j:
      counter += 1
  return round(counter / len(y_true) , 4)

print(accuracy(y_true,y_pred))

0.8571

2. MAE- Mean Absolute Error to check accuracy of the Machine learning model.

In [2]:
def mae(y_true,y_pred):
  return round(sum([abs(i[1] -i[0]) for i in zip(y_true, y_pred)]) / len(y_true),3)

3. MSE-Mean Squared Error to check the accuracy of the machine learning model.

In [4]:
def mse(y_true, y_pred):
  return round(sum([(i[1]-1[0])**2 for i in zip(y_true, y_pred)])/len(y_true), 3)

4. ReLU- Rectified Linear Unit. used in neural networks and is given by formula: f(x) = max(x,0)

In [11]:
def relu(x):
  return max(0, x)

5. convert nested list to single list

In [13]:
def flatten(items):
  result = []
  for item in items:
    result.extend(item)
  return result 

print(flatten([[1,2,3],[4,5,6],[7,8,9]]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

6. Function which takes a list as an argument and return list with all zeros at the end.

In [14]:
def transfer_zeros(list1):
  result = []
  counter = 0
  for i in list1:
    if i != 0:
      result.append(i)
    else:
      counter += 1
  result.extend([0]*counter)
  return result

print(transfer_zeros([3,4,0,2,0,5,1,6,2]))

[3, 4, 2, 5, 1, 6, 2, 0, 0]

7. Function to implement euclidean_distance() that computes the distance between two points.

In [16]:
def euclidean_distance(x,y):
  squared_diff = [( i - j)**2 for i, j in zip(x, y)]
  return (sum(squared_diff))** 0.5

print(euclidean_distance([0,3],[4,0]))

5.0

8. function replicate Range function.

In [17]:
def arange(start, stop, step = 1):
  result = []
  for i in range(start,stop,step):
    result.append(i)
  return result

print(arange(0,10))
print(arange(0,10,2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

9. Function to concate two lists in the format: 
l1 = [[1],[2]] 
l2 = [[3],[4]]
output: l3 = [[1,3],[2,4]]

In [19]:
def concat(l1,l2):
  l3=[]
  for i, j in zip(l1, l2):
    l3.append([i[0],j[0]])
  return l3

l1 = [[1],[2]] 
l2 = [[3],[4]]
print(concat(l1,l2))

[[1, 3], [2, 4]]

10. Function identity() which takes natural number as an argument and return an idenity matrix(nested list)

In [25]:
def identity(x):
  array = [[0]*x for i in range(x)]
  for idx, item in enumerate(array):
    item[idx] = 1
  return array

print(identity(2))
print(identity(3))

[[1, 0], [0, 1]]
[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

11. Function that returns a two-dimensional array of height x width and fills it with a fixed value.

In [28]:
def fill_value(height, width, value):
  return [[value] * width for i in range(height)]

print(fill_value(2,3,255))
print(fill_value(4,2,'a'))

[[255, 255, 255], [255, 255, 255]]
[['a', 'a'], ['a', 'a'], ['a', 'a'], ['a', 'a']]

12. Function that returns the trace of the matrix. the matrix must be a squared matrix.

In [32]:
def trace(array):
  total = 0
  for idx, item in enumerate(array):
    total += item[idx]
  return total

print(trace([[1]]))
print(trace([[1,2],[4,2]]))
print(trace([[3,4,5],[5,2,1],[5,7,2]]))

1
3
7

13. Function to transpose the two dimentional matrix (nested list).

In [5]:
def transpose(array):
    width = len(array[0])
    result = []
    
    for i in range(width):
        pair = []
        for item in array:
            pair.append(item[i])
        result.append(pair)
    return result
print(transpose([[1,2,3],[4,5,6]]))

[[1, 4], [2, 5], [3, 6]]

14. Function to return the highest probability value for a given row in a 2-d matrix.

In [7]:
def max_prob(array):
  result = []
  for item in array:
    max_val = max(item)
    for idx, val in enumerate(item):
      if val == max_val:
        result.append([val])
  return result

print(max_prob([[0.3,0.4,0.3],[0.0,0.1,0.9]]))

[[0.4], [0.9]]

15. Function to place highest probability value in the row puts 1 and else 0.

In [9]:
def detect_class(array):
  result = []

  for item in array:
    max_val = max(item)
    empty = [0] * len(item)
    for idx, val in enumerate(item):
      if val == max_val:
        empty[idx] = 1
        result.append(empty)
  return result

print(detect_class([[0.3,0.4,0.2,0.1],[0.0,0.1,0.7,0.2]]))

[[0, 1, 0, 0], [0, 0, 1, 0]]

16. Function that takes two lists of same length(vectors) and calculate the dot product.

In [10]:
def dot_product(vect1,vect2):
  return sum([v*w for v,w in zip(vect1,vect2)])

print(dot_product([1,2],[5,2]))

9

17. Function that count all missing values in the list.

In [11]:
def count_none(items):
  counter = 0
  for item in items:
    if not item:
      counter += 1
  return counter
print(count_none([1, None,None,5,None,2]))

3

18. Function to extract Top n largest values from the given list.

In [12]:
def top_n(items, n):
  items.sort(reverse = True)
  return items[:n]

print(top_n([4,5,2,9,5,2,8,2,8,10],3))

[10, 9, 8]

###Buit-in modules and packages